@page "/AppBar"

<h3 class="text-primary fw-bold text-center mb-5"><i class="oi oi-media-play text-danger fs-3"></i>How to Create Navigation Bar</h3>
<div class="container-fluid">
    <div class="row mb-5">
        <div class="text-center">
            <SfAppBar ColorMode="AppBarColor.Light">
                <SfButton CssClass="e-inherit ralign" IconCss="e-icons e-menu"></SfButton>
                &nbsp;
                <span class="regular ralign e-icons e-home"></span>
                <SfButton Content="Home" Cssclass="e-inherit ralign"></SfButton>
                &nbsp;
                <div style="width:300px" class="ralign">
                    <span class="e-input-group e-control-wrapper e-inherit">
                        <input type="text" class="e-searchinput e-input" placeholder="Search" />
                        <span class="e-icons e-search e-input-group-icon"></span>
                    </span>
                </div>
                <AppBarSpacer></AppBarSpacer>
                <SfButton Content="Join Netcode Forum" Cssclass="e-inherit ralign"></SfButton>
                <SfButton Content="Sign In" Cssclass="e-primary ralign"></SfButton>
                <SfButton Content="Sign Up" Cssclass="e-inherit ralign"></SfButton>
                <SfButton Content="Products" Cssclass="e-primary ralign"></SfButton>
                <SfButton Content="Locations" Cssclass="e-inherit ralign"></SfButton>
               

            </SfAppBar>
        </div>
    </div>
    <div class="row mb-5">
        <div class="text-center">
            <SfAppBar ColorMode="AppBarColor.Dark">
                <SfButton CssClass="e-inherit ralign" IconCss="e-icons e-menu"></SfButton>
                &nbsp;
                <span class="regular ralign e-icons e-home"></span>
                <SfButton Content="Home" Cssclass="e-inherit ralign"></SfButton>
                <SfButton Content="Join Netcode Forum" Cssclass="e-inherit ralign"></SfButton>
                <SfButton Content="Sign In" Cssclass="e-inherit ralign"></SfButton>
                <SfButton Content="Sign Up" Cssclass="e-inherit ralign"></SfButton>
                <SfButton Content="Products" Cssclass="e-inherit ralign"></SfButton>
                <SfButton Content="Locations" Cssclass="e-inherit ralign"></SfButton>
                <AppBarSpacer></AppBarSpacer>
                <div style="width:300px" class="ralign">
                    <span class="e-input-group e-control-wrapper e-inherit">
                        <input type="text" class="e-searchinput e-input" placeholder="Search" />
                        <span class="e-icons e-search e-input-group-icon"></span>
                    </span>
                </div>

            </SfAppBar>
        </div>
    </div>
    <div class="row mb-5">
        <div class="text-center">
            <SfAppBar ColorMode="AppBarColor.Primary">
                <SfButton CssClass="e-inherit ralign" IconCss="e-icons e-menu"></SfButton>
                &nbsp;
                <span class="regular ralign e-icons e-home"></span>
                <SfButton Content="Home" Cssclass="e-inherit ralign"></SfButton>
                &nbsp;
                <div style="width:300px" class="ralign">
                    <span class="e-input-group e-control-wrapper e-inherit">
                        <input type="text" class="e-searchinput e-input" placeholder="Search" />
                        <span class="e-icons e-search e-input-group-icon"></span>
                    </span>
                </div>
                <AppBarSpacer></AppBarSpacer>
                <SfButton Content="Join Netcode Forum" Cssclass="e-inherit ralign"></SfButton>
                <AppBarSeparator></AppBarSeparator>
                <SfButton Content="Sign In" Cssclass="e-inherit ralign"></SfButton>
                <AppBarSeparator></AppBarSeparator>
                <SfButton Content="Sign Up" Cssclass="e-inherit ralign"></SfButton>
                <AppBarSeparator></AppBarSeparator>
                <SfButton Content="Products" Cssclass="e-inherit ralign"></SfButton>
                <AppBarSeparator></AppBarSeparator>
                <SfButton Content="Locations" Cssclass="e-inherit ralign"></SfButton>
            </SfAppBar>
        </div>
    </div>
    <div class="row mb-5">
        <div class="text-center">
            <SfAppBar ColorMode="AppBarColor.Inherit">
                <SfButton CssClass="e-inherit ralign" IconCss="e-icons e-menu"></SfButton>
                &nbsp;
                <span class="regular ralign e-icons e-home"></span>
                <SfButton Content="Home" Cssclass="e-inherit ralign"></SfButton>
                <AppBarSpacer></AppBarSpacer>
                <div style="width:300px" class="ralign">
                    <span class="e-input-group e-control-wrapper e-inherit">
                        <input type="text" class="e-searchinput e-input" placeholder="Search" />
                        <span class="e-icons e-search e-input-group-icon"></span>
                    </span>
                </div>
                <AppBarSpacer></AppBarSpacer>
                <SfButton Content="Join Netcode Forum" Cssclass="e-inherit ralign"></SfButton>
                <AppBarSeparator></AppBarSeparator>
                <SfButton Content="Sign In" Cssclass="e-inherit ralign"></SfButton>
                <AppBarSeparator></AppBarSeparator>
                <SfButton Content="Sign Up" Cssclass="e-inherit ralign"></SfButton>
                <AppBarSeparator></AppBarSeparator>
                <SfButton Content="Products" Cssclass="e-inherit ralign"></SfButton>
                <AppBarSeparator></AppBarSeparator>
                <SfButton Content="Locations" Cssclass="e-inherit ralign"></SfButton>


            </SfAppBar>
        </div>
    </div>
</div>



@code {

}

